<label>{{label}}</label>
<br>
<button (click)="toggleDarkMode()">Toggle</button>

<br>
<br>
<br>

<label>Total price: {{totalPrice()}}</label>
<br>
<input type="number" value={{quantity()}} (change)="changeQuantity($event)">

<br>
<br>
<br>

<div>
  <input type="text" (input)="changeFilter($event)"/>
</div>

<br>

<table>
  <tr *ngFor="let product of filteredProducts()">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
  </tr>
</table>

<br>
<br>
<br>

Products:
<product-list [products]="allProducts"></product-list>

<router-outlet />
